<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Images</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
<body>
 
    
    <input type="radio" name="Photos" id="check1" checked/>
     <input type="radio" name="Photos" id="check2" />
     <input type="radio" name="Photos" id="check3" />
      <input type="radio" name="Photos" id="check4" />
             
             
  <div class="container">
  
  <h1>Our Photo Gallery</h1>
  <div class="top-content">
  
  <h3>Photo Gallery</h3>
  
  
  <label for="check1">All photos</label>
    <label for="check2">Family photos</label>
      <label for="check3">Childs photos</label>
        <label for="check4">Visited places</label>
  
  
  </div>
  
  
		<div class="photo-gallery">
		
		
		<div class="pic place">		
		<img src="images/img-1.jpg" alt="">	
		</div>
		
		
		<div class="pic family">		
		<img src="images/img-2.jpg" alt="">	
		</div>
		
		
		<div class="pic child">		
		<img src="images/img-3.jpg" alt="">	
		</div>
		
		
			<div class="pic place">		
		<img src="images/img-4.jpg" alt="">	
		</div>
		
		
		<div class="pic family">		
		<img src="images/img-5.jpg" alt="">	
		</div>
		
		
		<div class="pic child">		
		<img src="images/img-6.jpg" alt="">	
		</div>
		
		
		
			<div class="pic place">		
		<img src="images/img-7.jpg" alt="">	
		</div>
		
		
		<div class="pic family">		
		<img src="images/img-8.jpg" alt="">	
		</div>
		
		
		<div class="pic child">		
		<img src="images/img-9.jpg" alt="">	
		</div>
		
			<div class="pic place">		
		<img src="images/img-10.jpg" alt="">	
		</div>
		
		
		<div class="pic family">		
		<img src="images/img-2.jpg" alt="">	
		</div>
		
		
		<div class="pic child">		
		<img src="images/img-3.jpg" alt="">	
		</div>
		
		
		
		</div>
  
  </div>           
             
  
</body>
</html>
